<!doctype html>
<html ng-app='ez.edit.demo'>
    <head>
        <title>EZ Edit Core Demo</title>
    </head>
    <body ng-controller='DemoController'>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Editing</th>
                    <th>Valid</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Age</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='item in data' ez-edit-group>
                    <td>{{item.id}}</td>
                    <td>{{$eze.editing()}}</td>
                    <td>{{$eze.valid()}}</td>
                    <td ez-edit='text' ng-model='item.name' ez-validate='required,minLength[2]' ng-maxlength='10'></td>
                    <td ez-edit='text' ez-validate='required' ng-model='item.company'></td>
                    <td ez-edit='number' ez-validate='required' ng-model='item.age'></td>
                    <td>
                        <button ng-show='!$eze.editing()' ng-click='$eze.edit()'>Edit</button>
                        <button ng-show='$eze.editing()' ng-click='$eze.save()'>Save</button>
                        <button ng-show='$eze.editing()' ng-click='$eze.reset()'>Reset</button>
                        <button ng-show='$eze.editing()' ng-click='$eze.cancel()'>Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <script src='../bower_components/angular/angular.js'></script>

        <!-- EZ Edit scripts -->
        <script src='../src/module.js'></script>
        <script src='../src/service/transform.service.js'></script>
        <script src='../src/service/validation.service.js'></script>
        <script src='../src/service/edit.service.js'></script>
        <script src='../src/directive/edit.js'></script>
        <script src='../src/directive/group.js'></script>
        <script src='../src/plugin/transform.js'></script>
        <script src='../src/plugin/validation.js'></script>
        <!--<script src='../build/ez.edit.min.js'></script>-->
        <!-- End EZ Edit scripts -->

        <!-- Demo scripts -->
        <script src='app.js'></script>
        <script src='plugins.js'></script>
        <script src='data.js'></script>
        <script src='controller.js'></script>
    </body>
</html>
